html {
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    }
/***************************/
/*overal settings*/
body {
    margin: 0;
}

.row {
    width: 100%;
    clear: both;
}

.col-full {
    float: left;
    width: 100%;
}

.col-half {
    width: 45%;
    float: left;
}

.col-third {
    width: 33%;
    float: left;
}

/***************************/
/*navigation heading*/
header {
    background-color: #ECECFF;
}

.fixed-header {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 50;
    background-color: #ECECFF;
    border-bottom: .5px solid slategray;
}

.top-container {
    width: 1042px;
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
}

.header {
    width: 1042px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button img, .header img{
    height: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

.story {
    padding-right: 15px;
    font-family: "Courier New";
}

.logo {
    font-size: 20px;
    font-family: "Courier New";
}

/***************************/
/*banner*/
.banner {
    margin-top: 125px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 10;    
}
.button {
    background-color: #ECECFF;
    border: none;
}

.main-banner-photo {
    z-index: 10;
    margin-top: 175px;
    margin-left: 50px;
}

.main-banner-photo img {
     width: 100%;
     height: 100%;
}

/***************************/
/*main article top*/
.main-container-top{
    width: 1042px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: .5px solid slategray;
    margin-top: 15px;
    font-family: "Courier New", Courier, monospace;
}

.from-your-nextowrk {
    padding-left: 20px;
}

.more {
    float: right;
    margin-right: 20px;
}

/***************************/
/*articles*/
.main-container {
    width: 1042px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    border-bottom: .5px solid slategray;
    margin-top: 15px;
    text-align: center;
}

.articles {
    height: 30%;
}

.articles h4{
    font-size: 1.5rem;
    font-family: "Courier New", Courier, monospace;
    margin: 10px;
}
.articles img {
    height: 50%;
    margin: 20px;
    flex-shrink: 1.5;
}

/***************************/
/*content / Feature / stories*/
.side-story-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-story {
    width: 40%;
    margin: 10px;
}

.main-feature {
    margin-top: 30px;
}


/***************************/
/*footer*/
footer {
    background-color: #ECECFF;
    margin: 0;
    border-top: 1px solid slategray;
}

.bottom-container {
    width: 1042px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    display: flex;
    align-content: center;
    font-size: 10px;
}


/***************************/
/***************************/
/*media screen differences*/

@media screen and (max-width: 1024px){
    .main-container, .main-container-top, .top-container, .fixed-header{
        width: 100%;
        position: static;
    }
    .col-half {
        width: 100%;
    }
    .header {
        width: 100%;
    }

    .top-container {
        width: 100%;
    }

    .main-banner-photo {
        width: 60%;
        margin-top: 50px;
    }

    .banner {
        font-size: .90rem;
        background-color: #ECECFF;
        margin-top: 15px;
    }

    .button img{
        height: 20px;
    }

    .articles {
        width: 65%;
    }

    .bottom-container {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .footer {
        padding-left: 0px;
    }
}



/***************************/
/***************************/
@media screen and (max-width: 600px) {
    .col-half {
        width: 100%;
    }

    .button img, .header img{
    height: 20px;
    padding-right: 10px;
    padding-left: 10px;
    }
    .story {
    padding-right: 10px;
    }
    
    .banner-container {
        width: 100%;
    }
    .logo {
        font-size: 15px;
    }
    .top-container {
        width: 100%;
        font-size: 15px;
    }
    .banner {
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: #ECECFF;
        margin-left: 5px;
        margin-right: 5px;
    }
    .banner-photo-container {
        display: none;
    }

    .from-your-nextowrk {
        font-size: 13px;
    }

    .main-container {
        width: 100%;
        margin-top: 10px;
    }
    .articles {
        width: 50%
    }
    .articles img {
        width: 60%;
        margin:10px;
    }
    .articles h4 {
        font-size: .80rem;
    }

    .main-feature img {
        width: 60%;
    }

    .main-feature p {
        font-size: 13px;
    }
}








/***************************/
/***************************/
/***************************/
/***************************/
/*main articles stylesheet*/
.main-article-container {
    width: 1024px;
    display: flex;
    margin: 0 auto;
}

.col-left {
    width: 30%;
    float: left;
    display: flex;
    padding-left: 20px;
    margin-top: 50px;
    padding-top: 30px;
    flex-direction: column;
    background-color: #ECECFF;
    border-right: 1px solid slategray;
}
.col-main {
    width: 65%;
    float: left;
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    padding-top: 30px;
}

/***************************/
/*left side column*/
.side-article-container {
    margin-top: 30px;
}
.side-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-article img {
    width: 100%;
}
.side-article-image {
    width: 30%;
    
}
.side-article-text {
    width: 60%;
}

/***************************/
/*main feature story*/
.col-main-feature-story img {
    float: right;
}
.home-button {
    padding-right: 30px;
    font-size: 13px;
}