html {
    box-sizing: border-box;
}
*, *:before. *:after {
    box-sizing: inherit;
}

/** {
    border: 1px solid rgba(226, 240, 229, 1);
}*/

.row {
    width: 100%;
    clear: both;
}

.col-full {
    float: left;
    width: 100%;
}

.col-half {
    width: 50%;
    float: left;
}

.col-third {
    width: 33%;
    float: left;
}
header {
    background-color: #ECECFF;
}
.top-container {
    width: 1042px;
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
}

.header {
    display: flex;
    padding-top: 20px;
}

.logo img, .navigation-top img, .button img {
    height: 20px;
    padding-right: 15px;
}

.navigation-top img,
.navigation-top span {
    float: right;
}

.button {
    background-color: #ECECFF;
    border: none;
}

/*main artile space*/
.main-container {
    width: 1042px;
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
}

.more {
    float: right;
}

.articles {
    display: flex;
    flex-wrap: wrap;
}

.articles img {
    height: 200px;
    display: flex;
    
}